.card {
  width: 37.5vw;
  display: grid;
  grid-template-columns: 80vh;
  grid-template-rows: 25vw 22vw 5vw;
  grid-template-areas: "image" "text" "stats";
  border-radius: 15px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto !important;
}
.image {
  grid-area: image;
  background: url("https://c8.alamy.com/comp/M1AT1E/a-woman-booking-flight-online-using-laptop-M1AT1E.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.text {
  grid-area: text;
  margin: 25px;
}
.text .date {
  color: rgb(2, 0, 1);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.text h2 {
  color: grey;
  font-size: 20px;
  font-weight: 300;
}
.btn1 {
  margin-top: 35px;
  width: 100px;
  height: 30px;
  background-color: rgb(2, 36, 59);
  border-radius: 5px;
  color: #f7f7f7;
}
.btn2{
  
  margin-top: 35px;
  width: 200px;
  height: 50px;
  background-color: rgb(2, 36, 59);
  border-radius: 5px;
  color: #f7f7f7;
  font-size: 20px;
}

.status {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #f57941;
}
.status .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
.type {
  font-size: 30px;
}
