.card {
  margin: 30px;
  text-align: center;
  /* width: 37.5vw;
  
  grid-template-areas: "image" "text" "stats";
  border-radius: 15px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto !important; */


}
.flight-table{
  display: grid;
  grid-template-columns: 40vw 40vw;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.back{
  background-image: url("https://cdn.galaxy.tf/thumb/sizeW1920/uploads/2s/cms_image/001/529/056/1529056419_5b238ca30c2b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0;
  position: relative;
  opacity: 0.9;
}
.image img {
  max-width: 100%;
 
}
.text {
  grid-area: text;
  margin: 25px;
}
.text .date {
  color: rgb(2, 0, 1);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.text h2 {
  color: grey;
  font-size: 20px;
  font-weight: 300;
}
.btn1 {
  margin: 30px 10px;
  width: 100px;
  background-color: rgb(2, 36, 59);
  border-radius: 5px;
  color: #f7f7f7;
  padding: 14px;
}
.btn2{
  
  margin-top: 35px;
  width: 200px;
  height: 50px;
  background-color: rgb(2, 36, 59);
  border-radius: 5px;
  color: #f7f7f7;
  font-size: 20px;
}

.status {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #f57941;
}
.status .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}


.type {
  font-size: 30px;
}
