.landing {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing {
  background-color: #192B42;
  background-image: url("https://i.pinimg.com/originals/c6/51/4e/c6514ec70f59b640995694026e13d7e8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh);
  margin: 0;
  position: relative;
  opacity: 0.9;
}

.landing .landText {
  width: 100%;
  position: absolute;
  left: 75%;
  top: 50%;

  line-height: 1.1;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  font-family: inherit;
  z-index: 10;
  text-align: center;
  font-style: inherit;

  line-height: inherit;
}
.landText h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.1;
}
.landText p {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  margin: 0 0 10px;
  margin-bottom: 20px;
}
.landing .button1 {
  border-radius: 10px;
  background-color: #fff;
  border: none;
  color: #333;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  width: 180px;
}
.w1 {
  background-color: #f6f6f6;
}
.welcome {
  padding: 30px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.welcome h2 {
  color: #555;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.welcome p {
  color: #777777;
  margin-top: 40px;
  line-height: 1.6;
  font-size: 18px;
}
.welcome button {
  background-color: #192b42;
  font-size: 14px;
  padding: 17px 20px;
  color: #ffffff;
  border-radius: 5px;
  width: 180px;
  margin: 40px 10px;
  border: none;
}
.container {
  margin: auto;
  padding-left: 90px;
  padding-right: 90px;
  margin-left: auto;
  margin-right: auto;
}
.cardd {
  width: 100%;
  height: 430px;
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
  /* box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.2); */
  /* background-color: #fff; */
}
.about {
  padding: 80px 180px;
}
/* about */
.about  .content1{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.about  .content1 .col-left {
  position: relative;
  width: 50%;
}
.about  .content1 .col-right {
  position: relative;
  width: 47%;
}
.about  .content1 .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 500px;
  /* height: 100%; */
}
.about  .content1 .col-left .img-card img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.about  .content1 .col-right .content-title {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}
.about .content1 .col-right p {
  font-size: 1.4em;
  margin-bottom: 20px;
  color: #6C6E75;
text-align: left;
font-size:18px;

}
.about  .content1 .col-right h3{
    color: #B2A385;
font-size:22px;
margin:15px 0;
}
.title {
  text-align: center;
}
/* .section-title {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 10px solid #5F2161;
  padding-bottom: 10px;
  margin-bottom: 20px;
} */
.btn {
  color: #fff;
  background-color: #5F2161;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transform: 0.5s ease;
}
.btn:hover {
  background-color: #5F2161;
}
@media (max-width: 1040px) {
    .about {
padding: 80px 20px;
}
.section-title {
font-size: 1.8em;
}
.about .content1 {
flex-direction: column;
}
.about  .content1 .column {
position: relative;
width: 100%;
}
.about  .content1 .col-right {
margin-top: 40px;
}
}
.slider {
  height: 320px;
  margin: 40px auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  width: calc(330px * 8);
  animation: scroll 40s linear infinite;
}
.slide {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.slide img {
  width: 100%;
  transition: transform 1s;
}
.container-gallery{
    width: 100%;
      margin: 100px auto;
      background-color: #192B42;
      padding: 100px 0;
      color: #FFFFFF;
  }
  .container-g{
    width: 80%;
    margin: auto;
  }
  .imgs-con{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
   .imgs-con .box{
      overflow: hidden;
      width: 389px;
      height: 280px;
     margin: 10px 5px;
  }
   .imgs-con .box:hover img{
     transform: scale(1.1);
  }
   .imgs-con .box img{
     max-width: 100%;
     transition: 0.3s;
  }
   .container-gallery p{
      font-size: 35px;
      margin-bottom: 40px;
      text-transform: uppercase;
      text-align: center;
  }
  .Healthy{
    padding-top: 40px;
    padding-bottom: 60px;
}
 .Healthy .Healthy-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
}
.Healthy .Healthy-content .card1{
  border: none;
}
.Healthy .Healthy-content .card1 img{
    width: 100%;
    height: 200px;
  }
  .Healthy .Healthy-content .card1 .info{
    padding: 10px;
  }
  .Healthy .Healthy-content .card1 .info h3{
 color: #333;
 margin-bottom: 10px;
  }
  .Healthy .Healthy-content .card1 .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 5px;
  }
  .Healthy .Healthy-content .card1 .info a{
  text-decoration: none;
   color: #574B8A;
   font-size: 18px;
}
.Healthy .Healthy-content .card1 .info a:hover{
   color: #333;
}
  @media only screen and (max-width: 900) {
      .container-gallery{
          width: 95%;
      }
       .imgs-con {
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }
  }
@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}
.slide-track:hover {
  animation-play-state: paused;
}
@media only screen and (max-width: 992px) {
  .cardd {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardd .image,
  .cardd .info {
    width: 100%;
  }
  .img {
    width: 100%;
  }

  .info {
    max-width: 100%;
    padding: 10px;
    margin-bottom: 30px;
  }
}
/*small*/
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium*/
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (max-width: 992px) {
  .welcome {
    width: 100%;
    margin: auto;
  }
  .welcome img {
    max-width: 100%;
  }
  .welcome h2 {
    max-width: 100%;
  }
  .landing .landText {
    left: 50%;
  }
}
