.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
  text-align: center;
}

select {
  font-size: 15px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
}

.bigContainer {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: inherit;
  font-family: Impact;
}

.InputsHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
input {
  font-family: Impact;
  border: 0.5px 2px black;
  border-radius: 5%;
  margin: 2px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px 1px black;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px 2px black;
  width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.delete {
  background-color: red;
}

.confirm {
  background-color: rgb(106, 218, 106);
}
.cancel {
  background-color: rgb(194, 129, 76);
}

button {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  background-color: #021110;
  font-family: Impact;
}

.dateInput {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  border-radius: 5px;
  font-family: Impact;
  
}
