.contact{
  
  text-align: left;
  
  padding-left: 20px;
 
 }
 .contact h1{
  color: #150050;

}

.contact h2{
  color: #150050;


  font-weight: bold;
}

.contact .email{
  color: #150050;
  font-weight: bold;
}
.img_1{
 
  margin-left: 620px;
   width:20px;
   height:20px;
     
 }
 .hr{
  background-color:#150050 ; 
  padding:10px;
}
.midlleContact{
   
  text-align: left;
 
  padding-left: 20px;
 
 }
 .midlleContact h2{
  color: #150050;
}
.midlleContact p{
  color: #150050;
}
.midlleContact h3{
  color: #150050;
}
.bag{
  width:30px;
  height:30px ;
}
.img_2{
  margin-left: 620px;
 width:20px;
 height:10px;
}

.contactFooter{
  width: 100%;
  background-color:#150050 ;
 height:170px;
 display: grid;
 grid-template-columns: auto auto auto auto;
}
.contactFooter h3{
  color: #ffffff;

}
