.mainContact{
  font-family: Arial, Helvetica, sans-serif;
}

.contact{
  
  text-align: left;
  
  padding-left: 20px;
 
 }
 .contact h1{
   font-size:x-large;
  color: #150050;
  text-align: center;

}
.contact p{
  margin-top: 10px;
}

.contact h2{
  color: #150050;
  margin-top: 15px;

  font-weight: bold;
}

.contact .email{
  color: #150050;
  font-weight: bold;
}
.img_1{
 
  margin-left: 620px;
  margin-top: 20px;
   width:20px;
   height:20px;
     
 }
 .hr{
   margin-top: 10px;
  background-color:#150050 ; 
  padding:10px;
}
.midlleContact{
   
  text-align: left;
 
  padding-left: 20px;
 
 }
 .midlleContact h2{
  color: #150050;
  margin-top: 15px;

}
.midlleContact p{
  color: #150050;
  margin-top: 10px;
  
}
.midlleContact h3{
  color: #150050;
}
.bag{
  width:30px;
  height:30px ;
}
.img_2{
 margin-left: 620px;
 width:20px;
 height:10px;
}

.contactFooter{
  width: 100%;
  background-color:#150050 ;
 height:170px;
 display: grid;
 grid-template-columns: auto auto auto auto;
}
.contactFooter h3{
  color: #ffffff;

}
