
.footer_div {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: auto !important;
  position: relative !important;
  bottom: 0 !important;
  /* width: 100% !important; */
  margin:0px auto;
        min-width:1370px;
        max-width:1370px;
  height: 50vh;
  background-color: rgb(17, 27, 51);
  color: white;
  text-align: center !important;
  padding:5%;
-webkit-box-shadow: 0 0px 20px  black;
-moz-box-shadow: 0 0px 20px black;
 box-shadow: 0 0px 20px  black;  
  
}
.footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15vw;
}
.footer_links ul {
  list-style: none;
  color: aliceblue;
}
a:link {
  font-family: Arial, Helvetica, sans-serif !important;
  color: aliceblue;
  text-decoration: none;
}
a {
  font-size: 0.8vw;
}
.footer_icons {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  text-align: center;
  justify-content: center;
  padding-top: 5%;
}

