.signUp{
  /* display: flex;
  flex-direction: column;
  gap:10px;
  width:40%;
  margin-left: 30%;
  margin-top: 25px; */
  
  position: relative;
  top: 0vh;
  /* left: 65vh; */
  margin: auto;
  width: 30rem;
  height: 23rem;
  background-color:#fff;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  display: flex;
  flex-direction: column;
  gap: 5px;
 
}
.close_x{
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 29rem;

}
.header-name{
  font-weight: bold;
  color: rgb(19,145,210);
}
.firstName{
padding: 5px;
font-weight: bold;
}
.lastName{
  padding: 5px;
  font-weight: bold;
}
.phoneNumber{
  padding: 5px;
  font-weight: bold;
}
.email{
  padding: 5px;
  font-weight: bold;
}
.password-sign{
  padding: 5px;
  font-weight: bold;
}
.btn-sign{
  padding: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #150050 ;
  border-radius:4px;
  background-color: rgb(227,64,61);
}
.bck_dv{
  position: fixed;
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

  
  