.attractions_div {
  padding-top: 39vh;
  padding-bottom: 50vh;
  text-align: center;
  position: relative;
  margin-left:20px;

  width: 65vw;
  height: 130vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif !important;
}
.attractions_img:hover {
  cursor: pointer;
}
.attractions_div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* 
.attractions_title_div{
  background-color:#C2DAEC;
  width:50vw;
  height:20vh;
  border-radius:10px;

} */