.modal_img_div {
  position: fixed;
  top: 10vh;
  left: 25vh;
  width: 70rem;
  height: 30rem;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
/* new */
.modal_img_div img {
  width: 20rem !important;
  height: 30rem !important;
}

.modal_img_details {
  width: 50rem !important;
  height: 30rem !important;
}

.back_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}
