.rdt_TableBody {
  margin-top: 50px;
}
#root {
  margin-top: 100px;
}
.rdt_TableBody {
  margin-top: 50px !important;
}
.App {
  text-align: start !important;
}

.gousUx {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  box-sizing: inherit;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff !important;
  justify-content: space-between;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 16px;
  padding-right: 8px;
}
.bnVhWX {
  position: relative;
  overflow: hidden !important;
  min-height: 56px !important;
  padding-left: 16px;
  padding-right: 8px;
  box-sizing: border-box;
}
.hHSTiF {
  position: relative;

  box-shadow: 5px 10px 18px rgb(199, 181, 181);
  border-radius: 5px !important;
  box-shadow: blanchedalmond;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 0;
}
.gXlmGk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  padding-top: 5px;
}
.iiHmzE {
  display: flex;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500 !important;
  box-shadow: 5px 10px 18px rgb(199, 181, 181);
}
.dBiTke {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hOQcBO {
  font-family: Arial, Helvetica, sans-serif !important;
}
.navPlus {
  margin-bottom: 1px !important;
  padding: 1px !important;
}
.bhOsij {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  line-height: normal;
  padding-left: 25px;
  word-break: break-word;
}
.dnakGj {
  width: 100%;
   box-sizing: border-box; 
  font-size: 13px;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #FFFFFF;
  min-height: 48px;
}
.dnakGj:not(:last-of-type) {
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.12);
}
.gzjvyG {
  max-width: 100% !important;
  min-width: 0% !important;
  border-bottom-width: 0px !important;
}